<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <title>{{date}} episode ~ {{name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
<body>
	<div class="" style="text-align:center;">

  <h3>This episode airs {{date}}</h3>
  <p>
    <!--<a href="{{path}}{{ date }}.mp3">{{ date }}</a> &nbsp; --><audio src="{{path}}{{ date }}.mp3" preload=none controls style="vertical-align: middle;"></audio>
  </p>

  <p><a href="/record">&larr; Record a new episode</a></p>
  </div>

</body>
</html>
